<!DOCTYPE html>
<html>
<head>
  <title>Home Budget</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="CSS/style.css">
	<script type="text/javascript">
		angular.module('CalculatorApp', [])
    .controller('CalculatorController', function($scope) {
        $scope.result = function() {
            
            
                return ($scope.c-$scope.a)/($scope.d*12);
            
        };
    });
	</script>
</head>
<body>
<div>
  <img src="images/logo.jpg" class="float-left">
</div>
  
<div ng-app="CalculatorApp" ng-controller="CalculatorController" class=" container calc">
  <h3>Home Budget Calculator</h3><br>
  <p>Your current savings:<br><input type="number" ng-model="a"></p>
  <p>Downpayment on the house you are planning to buy:<br><input type="number" ng-model="c"></p>
  <p>When are you planning to buy your home?(years)<br><input type="number" ng-model="b"></p>
  <p>EMI you plan to pay:<br><input type="number" ng-model="d"></p>
  <h5>At this rate you can buy your dream home in {{ result() }} year(s).</h5>
 </div>
</body>
</html>